body {
    background-color: rgb(248, 94, 47);
}

.container {
    height: 500px;
    width: 500px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

.box {
    height: 660px;
    width: 660px;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.box > h1 {
    margin-top: 0;
    color: #e3c525;
}